/**billeder og fonte**/

screen {
  background-color: #f2e6d9;
  max-width: 800px;
}

.om {
  width: 60%;
  margin-left: 100px;
  margin-right: auto;
}

.arbejde2 {
  width: 100%;
  height: auto;
  margin: 0%;
}

.smiley_rapport {
  width: 15%;
  height: auto;
  margin-left: 90px;
  margin-top: 50px;
}

.kontakt {
  width: 30%;
  margin-top: 3%;
}

h1 {
  font-size: 40px;
  margin-top: 10px;
  color: #a15a44;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

h2 {
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-size: 40px;
  margin-top: 70px;
  margin-left: 90px;
  color: white;
}

.p1 {
  color: #a15a44;
  font-family: "Heebo";
  src: url("../fonts/Heebo/Heebo-Regular.woff2") format("woff2");
  margin-right: 100px;
  margin-top: 30px;
}

.p2 {
  font-family: "Heebo";
  src: url("../fonts/Heebo/Heebo-Regular.woff2") format("woff2");
  font-size: 20px;
  line-height: 1.5;
  color: white;
  margin-left: 90px;
  margin-right: 70px;
  margin-top: 50px;
  font-size: 20px;
}

#grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
}

#grid_2-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  padding: 0 auto;
  background-color: #a15a44;
}
