/****** GENERAL STYLES, FONTS, ONLY VISUAL AESTETHIC, COLOURS, BORDERS ETC *******/

/** our colour palette - from dark to brightest: 

Dark-brown: #573F3B
Light-brown: #A6775E
Orange: #573F3B
Green: #A7B284
Off-white: #F2E6D9

**/





/***** global styles - both mobile and desktop *****/


/********* mobile only ********/

/*********** desktop only *********/