* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* HEADER AREA */
.header-grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: linear-gradient(
    rgba(34, 35, 46, 0.75),
    rgba(204, 237, 239, 0.1)
  );
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.toplogo {
  align-self: start;
  margin: 1em;
}

.toplogo img {
  max-width: 150px;
  width: 100%;
  height: 100%;
}

/** Navigation + burger **/
nav {
  margin: 2em 2em 0 0;
  text-align: end;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding-right: 5px;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: inline;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: rgb(177, 108, 80);
}

.burger {
  position: relative;
  left: 90%;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #fafafa;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}
/** end of navigation + burger **/

.banner-video {
  height: 100vh;
  position: relative;
}

video {
  object-fit: cover;
  position: absolute;
  width: auto;
  height: auto;
}

/**** main area ****/

main {
  padding: 0 5%;
  margin: 5em 0;
}

.index-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2em;
}

.index-img {
  margin: auto; /* this centers the images */
}

/*** footer area ****/
.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6em 2em;
  justify-items: center;
}

footer {
  padding: 2em;
  font-size: calc(10px + 0.390625vw);
}

.footertime {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.footertime h3 {
  grid-column: 1/-1;
}

.footerhours {
  text-align: right;
}

.footersm {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footersm h3 {
  grid-column: 1/-1;
}

.sm-icons {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  max-width: 120px;
  width: auto;
  height: auto;
}

.sm-icon {
  justify-self: center;
}

.sm-icon:hover {
  filter: invert(20%) sepia(50%) saturate(2192%) hue-rotate(320deg) brightness(88%) contrast(78%);
}

.footerlogo {
  max-width: 150px;
  width: 100%;
  height: 100%;
}

.footerlogo:hover {
  filter: invert(20%) sepia(50%) saturate(2192%) hue-rotate(320deg) brightness(88%) contrast(78%);
}

/********* mobile only ********/
@media screen and (max-width: 720px) {
  /* disables video on mobile */
  @media screen and (max-width: 480px) {
    video {
      display: none;
    }

    .header-grid {
      background: url(../img/banner-mobile-test.jpg);
      background-size: cover;
      background-position: center;
    }

    .banner-video,
    .overlay {
      height: 50vh;
    }

    /*** end of video disable ***/
  }

  /* Header mobile */
  .toplogo img {
    max-width: 150px;
    min-width: 70px;
    width: 100%;
    height: 100%;
  }

  nav {
    justify-self: auto;
  }

  /***** Burger menu mobile *****/

  .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
  /*** end of burger menu mobile ***/

  /* Main area mobile */
  .index-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
  }

  /* Footer mobile */

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }

  .footerlogo {
    max-width: 150px;
    min-width: 80px;
    width: 100%;
    height: 100%;
  }

  .sm-icon {
    width: 50px;
  }
}

/***** desktop view *****/
@media screen and (min-width: 720px) {
}
