/****** LAYOUT STYLES, ONLY GRIDS, WIDTH MARGIN AND PADDINGS ETC - Will be used for universal rules, such as for header and footer *******/

/** Universal CSS reset - to remove the different browsers default stylings **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
/***** global - both mobile and desktop *****/

/* Header */
.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.toplogo {
  align-self: start;
  margin: 1em;
}

.toplogo img {
  max-width: 150px;
  width: 100%;
  height: 100%;
}

/** Navigation + burger **/
nav {
  margin: 2em 2em 0 0;
  text-align: end;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding-right: 5px;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: inline;
  color: #a15a44;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: rgb(80, 38, 22);
}

.burger {
  position: relative;
  left: 90%;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #a15a44;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

/* Footer*/

/*** footer area ****/
.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6em 2em;
  justify-items: center;
}

footer {
  padding: 2em;
  font-size: calc(10px + 0.390625vw);
}

.footertime {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.openingtime {
  grid-column: 1;
  grid-row: 1;
}

.openingdays {
  grid-row: 2;
}
.footerhours {
  grid-column: 2/-1;
  text-align: right;
  grid-row: 2;
  white-space: nowrap;
}

.footersm {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footersm h3 {
  grid-column: 1/-1;
}

.sm-icons {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  max-width: 120px;
  width: auto;
  height: auto;
}

.sm-icon {
  justify-self: center;
}

.sm-icon:hover {
  filter: invert(20%) sepia(50%) saturate(2192%) hue-rotate(320deg)
    brightness(88%) contrast(78%);
}

.footerlogo {
  max-width: 150px;
  width: 100%;
  height: 100%;
}

.footerlogo:hover {
  filter: invert(20%) sepia(50%) saturate(2192%) hue-rotate(320deg)
    brightness(88%) contrast(78%);
}

/*********** desktop only *********/
 @media screen and (min-width: 720px) {
  /** Header area **/
 nav {
    justify-self: auto;
  } 

/** footer area **/
footer img {
    max-width: 150px;
    width: 100%;
    height: 100%;
  } 
} 

/********* mobile only ********/
@media screen and (max-width: 720px) {
  /* Header mobile */
  header {
    margin-bottom: 5em;
  }

  .toplogo img {
    max-width: 150px;
    min-width: 70px;
    width: 100%;
    height: 100%;
  }

  nav {
    justify-self: auto;
  }

  /***** Burger menu mobile *****/

  .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
  /*** end of burger menu mobile ***/


  /* Footer mobile */

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }

  .footerlogo {
    max-width: 150px;
    min-width: 80px;
    width: 100%;
    height: 100%;
  }

  .sm-icon {
    width: 50px;
  }
}
