/****** LAYOUT STYLES, ONLY GRIDS, WIDTH MARGIN AND PADDINGS ETC - Will be used for universal rules, such as for header and footer *******/

/** Universal CSS reset - to remove the different browsers default stylings **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********** grids **********/
.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.topnav-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

/***** global - both mobile and desktop *****/

/** HEADER AREA **/
header {
  padding: 2em;
}

.toplogo img {
  max-width: 150px;
  width: 100%;
  height: 100%;
  margin: 0.5em;
}

.topnav {
  margin: 2em 0 0 0;
}

/** footer area **/
footer {
  padding: 2em;
}

.footertime {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-self: start;
}

.footertime :first-child {
  grid-column: 1/-1;
}

.footerhours {
  text-align: right;
}

/*********** desktop only *********/
@media screen and (min-width: 720px) {
  main {
    padding: 0 5%;
  }

  /** footer area **/
  footer img {
    max-width: 150px;
    width: 100%;
    height: 100%;
  }
}

/********* mobile only ********/
@media screen and (max-width: 720px) {
  .toplogo img {
    max-width: 150px;
    min-width: 70px;
    width: 100%;
    height: 100%;
    margin: 0.5em;
  }
  /** footer area **/
  footer img {
    width: 100%;
    height: 100%;
  }

  /* index page */

  #main {
    background-size: cover;
  }
}

/* disables video on mobile */
@media screen and (max-width: 480px) {
  video {
    display: none;
  }

  .header-grid {
    background: url(../img/banner-mobile-test.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
    width: auto;
  }
}
