/**billeder og fonte**/

@media (min-width: 800px) {
  .arbejde {
    width: 450px;
  }

  .arbejde2 {
    width: 450px;
    margin-bottom: 5%;
  }

  .kontakt {
    width: 30%;
    margin-top: 3%;
  }

  h1 {
    font-size: 60px;
    color: #a15a44;
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  h2 {
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-size: 60px;
    color: #a15a44;
  }

  .p1 {
    font-size: 35px;
    color: #a15a44;
    font-family: "Heebo";
    src: url("../fonts/Heebo/Heebo-Regular.woff2") format("woff2");
  }

  .p2 {
    font-family: "Heebo";
    src: url("../fonts/Heebo/Heebo-Regular.woff2") format("woff2");
    font-size: 35px;
    color: #a15a44;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 5%;
  }

  .col-text {
    margin-top: -11px;
  }
}
@media (max-width: 800px) {
  .arbejde {
    width: 90%;
    margin-top: 10%;
  }

  .arbejde2 {
    width: 85%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .kontakt {
    width: 25%;
    margin-top: 3%;
    align-items: center;
  }

  h1 {
    font-size: 60px;
    margin-top: 10%;
    color: #a15a44;
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  h2 {
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-size: 60px;
    margin-top: 10%;
    color: #a15a44;
  }

  .p1 {
    font-size: 20px;
    color: #a15a44;
    font-family: "Heebo";
    src: url("../fonts/Heebo/Heebo-Regular.woff2") format("woff2");
  }

  .p2 {
    font-family: "Heebo";
    src: url("../fonts/Heebo/Heebo-Regular.woff2") format("woff2");
    font-size: 35px;
    color: #a15a44;
  }
}
