/**billeder og fonte**/

screen {
  background-color: #f8f6f2;
  max-width: 800px;
}

.arbejde {
  width: 80%;
  margin-top: 10%;
}

.arbejde2 {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.kontakt {
  width: 30%;
  margin-top: 3%;
}

h1 {
  font-size: 60px;
  margin-top: 10%;
  color: #a15a44;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

h2 {
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-size: 60px;
  margin-top: 10%;
  color: #a15a44;
}

p {
  font-size: 35px;
}

.p1 {
  font-size: 35px;
  color: #a15a44;
  font-family: "Heebo";
  src: url("../fonts/Heebo/Heebo-Regular.woff2") format("woff2");
}

.p2 {
  font-family: "Heebo";
  src: url("../fonts/Heebo/Heebo-Regular.woff2") format("woff2");
  font-size: 35px;
  color: #a15a44;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.col {
  max-width: 80ch;
}
